Kevin Ho  
GEOG 458

# Part 1
### Task 1

In [this Jupyter notebook](https://nbviewer.jupyter.org/github/jiffyclub/ipythonblocks/blob/master/demos/starry_night_to_text.ipynb), a .jpg image of Starry Night by Vincent van Gogh was converted into a text file. This is interesting to me because I haven't seen an image rendered in a text file before and although not perfefct, it is still very detailed to the point that the artwork is recognizable.

### Task 2

A. Some of the most [popular](https://pythontips.com/2018/06/03/top-14-most-famous-python-libraries-frameworks/)/ widely-used python packages include **pandas**, **requests**, **pillow**, **numpy**, and **matplotlib**, among others. [Pandas](https://pandas.pydata.org/) is tailored for data analysis and modeling, [numpy](http://www.numpy.org/) is for scientific computing, while [matplotlib](https://matplotlib.org/) allows for different plots, charts, and graphs to be generated.  

B. The Python equivalent of ggplot for R is [matplotlib](https://matplotlib.org/).  

C. A Python library for data analysis that uses something similar to dataframes is [pandas](https://pandas.pydata.org/).

### Task 3

Differences between Python and R syntax
1. <- or = can be used to assign values to variables in R, but in Python it is just =.
2. Writing functions in R takes the following syntax: function name <- function(){  }. In Python, functions have this syntax: def function_name():
3. When calling packages/libraries in R, first they need to be installed (only once) with install.packages(" ") then loaded into R with the library function library(). Modules in Python are accessed through the import() statement.

# Part 2  
### Task 4

In [16]:
string1 = "Seattle"
string2 = "has been below"
string3 = "freezing"
print string1 + " " + string2 + " " + string3

Seattle has been below freezing

### Task 5

In [17]:
num1 = 32
print string1.upper() + " " + string2.upper() + " " + str(num1)

SEATTLE HAS BEEN BELOW 32

### Task 6

In [18]:
this_list = [string1, string2, str(num1)]
space = " "
new_string = space.join(this_list)
print new_string

Seattle has been below 32

In [19]:
new_string.count("e")

5

In [20]:
new_string.find("low")

19

### Task 7

In [21]:
print len(new_string)
print new_string[0:12]

25
Seattle has

### Task 8

In [22]:
new_string.strip("32")

'Seattle has been below '

In [23]:
new_string.replace("Seattle", "Wisconsin")

'Wisconsin has been below 32'

### Task 9

In [24]:
new_list = new_string.split(" ")
print new_list
new_list.insert(2, "not")
print new_list

['Seattle', 'has', 'been', 'below', '32']
['Seattle', 'has', 'not', 'been', 'below', '32']

# Part 3
### Task 10

In [25]:
import random
x = random.randint(1,100)
print x
if 0 < x <= 25:
    print "1st Quartile"
elif 25 < x <= 50:
    print "2nd Quartile"
elif 50 < x <= 75:
    print "3rd Quartile"
elif 75 < x <= 100:
    print "4th Quartile"

95
4th Quartile

# Part 4
### Task 11

In [26]:
snow_cities = ["Rochester", "Boulder", "Anchorage", "Grand Rapids", "Cleveland", "Minneapolis"]
for City in snow_cities:
    print "Warning, residents of " + City.upper() + ", temperatures will reach sub-zero temperatures today, please stay indoors if possible"

Warning, residents of ROCHESTER, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of BOULDER, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of ANCHORAGE, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of GRAND RAPIDS, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of CLEVELAND, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of MINNEAPOLIS, temperatures will reach sub-zero temperatures today, please stay indoors if possible

### Task 12

In [27]:
results_list = []
states = ["Washington", "California", "Nevada", "Idaho", "Montana", "Utah", "Colorado", "New Mexico"]
for place in states:
    results_list.append("U://Users/Zhang/Geog_458/" + place + ".shp")
print results_list

['U://Users/Zhang/Geog_458/Washington.shp', 'U://Users/Zhang/Geog_458/California.shp', 'U://Users/Zhang/Geog_458/Nevada.shp', 'U://Users/Zhang/Geog_458/Idaho.shp', 'U://Users/Zhang/Geog_458/Montana.shp', 'U://Users/Zhang/Geog_458/Utah.shp', 'U://Users/Zhang/Geog_458/Colorado.shp', 'U://Users/Zhang/Geog_458/New Mexico.shp']

### Task 13

In [28]:
i = 10
while i >= 0:
    print "T-minus " + str(i)
    i -= 1

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

# Part 5
### Task 14

In [29]:
def countdown(hundred):
    i = hundred
    while i >= 0:
        print "T-minus " + str(i)
        i -= 1

### Task 15

In [30]:
def quartile_calc():
    x = user_input
    print x
    if 0 < x <= 25:
        print "1st Quartile"
    elif 25 < x <= 50:
        print "2nd Quartile"
    elif 50 < x <= 75:
        print "3rd Quartile"
    elif 75 < x <= 100:
        print "4th Quartile"
    elif x > 100:
        print "Error"
    elif x < 0:
        print "Error"